   
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
 
  font-style: normal;
}
.logo{
  width: 130px;
}

#nav-side{
  margin-left: 55%;
}
/* 
#navbar-col{
  background: rgb(134,235,100);
  background: linear-gradient(0deg, rgba(134,235,100,1) 2%, rgba(220,223,218,1) 77%);
} */

#navbar-col{
  background-color: #ede8f5 !important;
  font-family: Arial, Helvetica, sans-serif;

}

.nav-item{
  font-size: 20px !important;
  gap: 20px !important;
}

a{
  text-decoration: none;
}

/* banner */
.banner-con{
  width: 100%;
  
}
.banner-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.banner-col1{
 margin-top: 150px;
 margin-left: 30px;
  width: 54%;
}
.banner-col2{
  width: 44%;
}
.ban-head{
  font-size: 40px;
  color: #7e1d52;
  font-weight: 900;
}
.ban-head span{
  font-size: 45px;
  color: #afd275;
}
.banner-col1 li{
  list-style: none;
  letter-spacing: 2px;
  line-height: 35px;
  margin-left: 40px;
}
.hire{
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 28px;
}
.hire-span{
  background-color: #66fcf1;
  padding: 5px;
  border-radius: 10px;
  color: #683b2b;
  
}
body{
  background-color: #ede8f5 !important;
}

/* trainers */

/* body{
  background: #f1f1f1;
} */

.aoe-title{
  text-transform: uppercase;
      text-align: center;
    font-weight: 600;
    color: #ef5e5e;
}

.line{
    width: 75px;
    height: 5px;
    background-color: #f62459;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 70px;
}

/*=================================================== TESTIMONIALS SECTION ==========================================================*/

.testimonials-section{
  padding: 50px 0px 50px 0px;
}


/*-------------------------------------------------------- Carousel ----------------------------------------------------------*/
.col-center {
  margin: 0 auto;
  float: none !important;
}
.carousel {
  margin: 50px auto;
  padding: 0 170px;
}
.carousel .item {
  color: #999;
  font-size: 14px;
    text-align: center;
  overflow: hidden;
    min-height: 290px;
}
.carousel .item .img-box {
  width: 170px;
  height: 50px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 50%;
}
.carousel .img-box img {
  width: 200px;
  height: 200px;
  display: block;
  margin-left: 380px;
  border-radius: 50%;
}
.carousel .testimonial {
  padding: 30px 0 10px;
  color: #555;
}

.carousel-inner {
    text-align: center;
}

.carousel-title{
  margin: 25px;
  color: #333;
}

.carousel-line{
  height: 1px;
  width: 600px;
  background-color: #cecece;
  margin: auto;
}

.carousel .overview { 
    font-size: 22px;
    margin-bottom: 5px;
}

.carousel .overview b {
  color: #7AA641;
}

.company-name{
    color: #555;
}

.carousel .carousel-control {
  width: 0px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
  background: none;
}
.carousel-control i {
    font-size: 30px;
    line-height: 42px;
    position: absolute;
    display: inline-block;
    color: #000;
}
.carousel .carousel-indicators {
  bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
  width: 10px;
  height: 10px;
  margin: 1px 3px;
  border-radius: 50%;
}
.carousel-indicators li { 
  background: #999;
  border-color: transparent;
  box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {  
  background: #555;   
  box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}

.testimonial span{
    font-size: 62px;
    position: absolute;
    top: 57%;
    left: 0;
    font-family: 'Emblema One', cursive;
    color: #333;
}

.carousel-control-prev span{
    position: absolute;
    font-size: 14px;
    top: 29%;
    left: 20px;
    color: #89c4f4;
    text-shadow: none;
    font-weight: bolder;
}

.carousel-control-next span{
    position: absolute;
    font-size: 14px;
    top: 29%;
    right: 20px;
    color: #89c4f4;
    text-shadow: none;
    font-weight: bolder;
}

/* trending - courses */
.slide-head{
  font-size: 18px;
  text-align: center;
}
h2{
text-align:center;
padding: 20px;
}



/* img-curossal */

.service-con{
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 60px;
}
.d{
  width: 48%;
  margin-top: 6%;
}
.d li{
  list-style: none;
  font-size: 30px;
  line-height: 55px;
  margin-left: 25%;
}
.d li i{
  width: 40px;
  margin-right: 30px;
}
.c {
  /* min-width: 700px; */
  width: 48%;
  height: 500px;
  border-radius: 12px;
  padding: 20px;
  padding-bottom: 40px;
  /* box-shadow: 0 8px 48px 2px hsla(10 6% 15% / .4); */

  display: flex;
  align-items: flex-end;
  justify-content: center;

  position: relative;
  overflow: hidden;
  background: hsl(0, 100%, 98%);

  box-sizing: border-box;
}

.ci {
  position: absolute;
  top: 0;
  left: 0;

  width: inherit;
  height: inherit;
  transform-origin: left 50%;

  background: inherit;

  z-index: var(--z);
  transition: .3s ease-out;
}

.ci img {
  -moz-user-select: none;
  user-select: none;
  padding-left: 30px;
  padding-top: 20px;
}

.ch {
  position: absolute;
  top: 70%;
  left: 4%;
  transform: translateY(-50%);

  font-size: 2rem;
  color: hsla(var(--h) var(--s) var(--l) / .8);
  text-shadow: 0 2px 10px hsla(var(--h) var(--s) 10% / .3);
}

input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: -10;
}

label {
  width: 10%;
  height: 10px;
  margin-right: 4px;
  border-radius: 20px;

  background: hsla(0 0% 90% / .3);
  cursor: pointer;

  position: relative;
  z-index: 10;
}

label:last-child {
  margin-right: 0;
}

input:checked+label {
  background: linear-gradient(to right,
    hsla(var(--hue) 80% 70% / .7),
    hsla(calc(var(--hue) + 30) 80% 50% / .7));
}

input:not(:checked)+label+.ci {
  transform: translateX(-100%);
  opacity: 0;
}

input:checked+label+.ci~.ci {
  transform: translateX(100%);
}

input:not(:checked)+label+.ci {
  transition: 0;
}




/* advance education */
.adv-para{
margin-left: 40%;
font-size: 20px;
border-bottom: 3px solid rgb(255, 85, 0);
}

.adv-head{
  font-size: 45px;
  color: #7e1d52;
  font-weight: 500;
  padding-top: 80px;
}

.adv-content{
  color: #211c6a;
  margin-top: 40px;
  margin-left: 20px;
}
.teach{
  font-size: 30px;
  margin-left: 100px;
  padding:10px 20px;
  border-radius: 50%;
  background-color: #7e1d52;
  display: inline-block;
  color: white;
}
.adv-cont{
  width: 100%;
  height: 100vh;
}
.adv-row{
  display: flex;
  justify-content: space-evenly;
}
.adv-col{
  width: 46%;
}

.adv-child{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
}
.adv-teacher{
  width: 47%;
}
.head-teach{
  font-size: 32px;
}
.teach-para{
  color: grey;
}

/* why-choose */
.why-head{
  text-align: center;
  font-weight: 700;
  color: #7e1d52;
  margin: 50px;
  text-align: center;
}

.why-con{
  width: 100%;
}
.why-row{
  display: flex;
  justify-content: space-evenly;
}

.why-col{
  width: 48%;
}
.why-para{
  font-size: 20px;
  color: #4a4747;
}
.best{
  margin-top: 10px;
}
.col-head{
  font-size: 25px;
}

/* frontend */

#Front{
  display: none;
 
} 
#Home {
  display: block; /* Home is visible by default */
 
}
.home-container{
  background-color: rgb(0, 0, 0);
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

.text{
  width: 30%;
}
.subject{
  width: 50%;
  display: flex;
}

.subject a{
text-decoration: none;
color: white;
}
.subject li{
  list-style: none;
  padding: 30px;
}

.subject li:hover{
color: rgb(126, 255, 100);
}

.acco{
  margin-left: 20px;
}
.accordion-body strong{
font-size: 24px;
margin-left: 10%;
color: rgb(74, 74, 255);
padding: 20px;
}
.accordion-body li{
list-style: none;
margin-left: 30%;
padding: 10px;
font-size: 17px;
color: #1d1b31;
}

.front-head{
margin-left: 10%;
color: rgb(55, 30, 21);
padding: 30px;
}

.front-para{
letter-spacing: 1px;
}

#skills{
width: 100%;
display: flex;
justify-content: space-evenly;
}

.skill-con1{
width: 60%;
}
.skill-con2{
width: 30%;
}

.certifi{
width: 50%;
margin-left: 25%;
}
.card-title{
   padding-left: 35%;
   font-size: 35px;
   font-weight: 600;
  
}

.card-text{
  text-align: center;
  font-size: 20px;
}

/* enroll btn */

:root {
	/* --bg-body: rgb(173, 151, 69);
	--bg-body-gradient: radial-gradient(30% 90% ellipse at bottom center, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 100%);
	--bg-body-hover: rgba(33, 33, 33, 1); */
	--bg-button: rgba(0, 0, 0, 0.278);
	--bg-button-hover: rgba(46, 46, 46, 0.626);
	--bg-button-active: rgba(255, 255, 255, 1.0);
	--bg-mask: rgba(255, 255, 255, 0.5);
	--bg-mask-hover: rgba(255, 255, 255, 1.0);
	--border-button: rgba(255, 255, 255, 0.2);
	--border-button-hover: rgba(255, 255, 255, 1.0);
	--color-button: rgba(255, 255, 255, 0.788);
	--color-button-hover: rgb(55, 255, 0);
	--color-button-active: var(--body-bg);
	--font-button: "Varela Round", sans-serif;
	--shadow-button-hover: 0 0 0.3125rem rgba(255, 255, 255, 0.8);
	--transition-easing: cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-enroll{
  width: 100%;
  display: flex;
  justify-content: start;
}
.button {
	background-color: var(--bg-button);
	border: 0.125rem solid var(--border-button);
	cursor: pointer;
	letter-spacing: 0.2125rem;
	line-height: 1;
	overflow: hidden;
	padding: 1.25rem 1.8rem;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	transition: 
		background-color 0.3s var(--transition-easing),
		border 1s var(--transition-easing),
		color 0.6s var(--transition-easing);
	user-select: none;
  width: 30%;
  border-radius: 30px;
  margin-top: 30px;
  margin-left: 50px;
}

.button a {
	color: var(--color-button);
	font-family: var(--font-button);
	position: relative;
	text-decoration: none;
	white-space: nowrap;
	z-index: 2;
}

.button .mask {
	background-color: var(--bg-mask);
	height: 6.25rem;
	position: absolute;
	transform: translate3d(-120%, -3.125rem, 0) rotate3d(0, 0, 1, 45deg);
	transition: all 1.1s var(--transition-easing);
	width: 12.5rem;
	z-index: 1;
}

.button .shift {
	display: inline-block;
	transition: all 1.1s var(--transition-easing);
	vertical-align: text-top;
}

.button:hover {
	background-color: var(--bg-button-hover);
	border-color: var(--border-button-hover);
	box-shadow: var(--shadow-button-hover);
}

.button:hover a {
	color: var(--color-button-hover);
}

.button:hover .mask {
	background-color: var(--bg-mask-hover);
	transform: translate3d(120%, -6.25rem, 0) rotate3d(0, 0, 1, 90deg);
}

.button:hover .shift {
	transform: translateX(0.3125rem);
}

.button:active {
	background-color: var(--bg-button-active);
}

.button:active a {
	color: var(--color-button-active);
}

/* footer */

footer {
  background: #16222A;
  background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
  background: linear-gradient(59deg, #3A6073, #16222A);
  color: white;
  margin-top:100px;
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #FA944B;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}


/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}
